{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center container-fluid">
  <div class="col-5">
      <h1 class="mt-3">Password reset</h1>
      <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
<div class="border border-secondary p-3 mb-3">
    <form method="POST" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Reset my password</button>
    </form>
  </div>
</div>
</div>
{% endblock %}
