{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="row justify-content-center container-fluid">
  <div class="col-5">
      <h1 class="mt-3">Create Account</h1>
        <!--Messages-->
           {% if messages %}
           <ul class="messages no-bullets">
               {% for message in messages %}
               <li
                       {% if message.tags %}
                       class="alert alert-{{ message.tags }} m-3"
                       {% endif %}>
                   {{ message }}
               </li>
               {% endfor %}
           </ul>
           {% endif %}
           <!--End Messages-->
      <div class="border border-dark p-3 mb-3">
        <form method="POST" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
</div>

{% endblock %}